# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\practices\memo_app_react_practice\memo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
